*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 80%;
    height: 1000px;
    margin: 10px auto;
}

.block{
    width: 100%;
    height: 25%;
    background-color:#FAEBD7;
    margin: auto;
    
}

.hat{
    padding: 5px;
}

.menu{
    height: 15%;
}

.content{
    height: 45%;
}

.basement{
    height: 15%;
}

.internal{
    width: 80%;
    height: 50%;
    background-color:#D2B48C;
    margin:60px auto;
    padding: 25px;
}

.text{
    width: 50%;
    height: 50%;
    font-size: 30px;
    background-color: white;
    text-align:center;
    margin: 20px auto;
}

.menu-block{
    height: 100%;
    width: 20%;
    font-size: 30px;
    text-align:center;
    float: left;
}

.menu-block-one{
    background-color: #5F9EA0;
}

.menu-block-two{
    background-color: #6495ED;
}

.menu-block-three{
    background-color: #F5DEB3;
}

.menu-block-four{
    background-color:  #F08080;
}

.menu-block-five{
    background-color:  #4B0082;
}

.content-block{
    height: 100%;
    width: 33.33%;
    font-size: 30px;
    text-align:center;
    float: left;
}

.content-block-one{
    background-color:#008100;
}

.small-text{
    width: 60%;
    height: 20%;
    background-color: #c1c1c1;
    text-align:center;
    margin: 23px auto;
    padding: 25px;
}

.three-blocks{
    width: 40%;
    height: 70%;
    margin:15px auto;
}

.internal-block-number-three{
    width: 100%;
    height: 30%;
    background-color: #8c0000;
}

.internal-block-number-four{
    background-color: #fa8173;
}

.internal-block-number-five{
    background-color: #beb86b;
}

.twins{
    width: 50%;
    height: 70%;
    float: left;
}

.big-a-block{
    width: 100%;
    height: 12%;
    background-color: #008181;
}

.bottom-block{
    width: 100%;
    height: 88%;
}

.vertical-block{
    width: 33.33%;
    height: 100%;
    float: left;
}

.big-b-block{
    width: 100%;
    height: 62.5%;
    background-color: #66ceac;
}

.small-vertical{
    float: left;
}

.small-vertical-b-one{
    width: 50%;
    height: 200%;
    background-color: #a62525;
    margin-top: -148px;
}

.small-vertical-b-two{
    width: 50%;
    height: 100%;
    background-color: #aeff2b;
}

.bottom-wrapper{
    width: 100%;
    height: 37.5%;
}

.equal-four-boxes{
    width: 100%;
    height: 25%;
}

.equal-c-one{
    background-color: #aed9e7;
}

.equal-c-two{
    background-color: #00008c;
}

.equal-c-three{
    background-color: #8c008c;
}

.equal-two-boxes{
    width: 50%;
    height: 100%;
    float: left;
}

.equal-c-four{
    background-color: #fdf5e7;

}

.equal-c-five{
    background-color: #fa8173;
}

.equal-d-boxes{
    width: 100%;
    height: 25%; 
}

.equal-d-none{
    background-color: #3ee1d1;
}

.equal-d-one{
    background-color: #008181;
}

.rectangle-d-three{
    width: 100%;
    height: 100%; 
    background-color: #ffdfaf;
}

.move{
    margin: -160px auto;
}

.d-sector-wrapper-rectangle-img{
    width: 100%;
    height: 50%;
}

img{
    width: 25px;
}

.basement{
    font-size: 30px;
    text-align:center;
    background-color: #696969;
}

.one-two-three-roman-block{
    width: 100%;
    height: 12%;
    background-color:white;
}

.three-equals-roman{
    width: 33.33%;
    height: 100%;
    float: left;
}

.one-roman{
    background-color:#90bd90;
}

.two-roman{
    background-color:#db71d7;
}

.three-roman{
    background-color:#ff804f;
}
.without-number-and-red-block-wrapper{
    width: 100%;
    height: 17%;
}

.without-number-block{
    width: 100%;
    height: 17%;
    background-color:#faf0e7;
    padding-top: 20px;
}

.red-block-inside{
    width: 50%;
    height: 50%;
    background-color:#ff0000;
    margin: auto;
}

.six-roman-block{
    width: 100%;
    height: 16%;
    background-color:green;
}